.clinical-record-form form {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;

  margin: 0 auto;
}
input,
select {
  width: 40%;
  margin-bottom: 10px;
  display: block;
  margin-right: auto;
}
