<p>Aca irian los pacientes y doctores :D </p>

<div class="container">

    <h2>Agregar Nueva Persona </h2>
    <form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="nuevapersona.nombre" name="nombre">  
        <br><br>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" [(ngModel)]="nuevapersona.apellido" name="apellido">
        <br><br>

        <label for="celular">Telefono:</label>
        <input type="text" id="telefono" [(ngModel)]="nuevapersona.telefono" name="telefono">
        <br><br>

        <label for="celular">Email:</label> 
        <input type="text" id="email" [(ngModel)]="nuevapersona.email" name="email">
        <br><br>

        <label for="celular">CI:</label>
        <input type="text" id="cedula" [(ngModel)]="nuevapersona.cedula" name="cedula">
        <br><br>

        <label for="celular">Es Doctor(1) o Paciente(0)?:</label>
        <input type="text" id="flag_es_doctor" [(ngModel)]="nuevapersona.flag_es_doctor" name="flag_es_doctor" (ngModelChange)="validarFlagEsDoctor()" >
        <br><br>

        
        <button (click)="agregarPersona()">Agregar</button>
        
    </form>

    
    
    <h2>Lista de Personas</h2>

    <div>
        <input type="text" [(ngModel)]="filtroNombre" placeholder="Filtrar por nombre" (input)="aplicarFiltro()">
        <input type="text" [(ngModel)]="filtroApellido" placeholder="Filtrar por apellido" (input)="aplicarFiltro()">
        <select [(ngModel)]="filtroProfesion" (change)="aplicarFiltro()">
        <option value="todos">Todos</option>
        <option value="doctores">Doctores</option>
        <option value="pacientes">Pacientes</option>
        </select>
    </div>

    <table>
    <thead>
        <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Profesión</th>
        <th>Acciones</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let persona of personas">
                <td *ngIf="persona !== personaEditar">{{ persona.nombre }}</td>
                <td *ngIf="persona !== personaEditar">{{ persona.apellido }}</td>
                <td *ngIf="persona !== personaEditar">{{ persona.email }}</td>
                <td *ngIf="persona !== personaEditar">{{ persona.flag_es_doctor === '1' ? 'Doctor/a' : (persona.flag_es_doctor === '0' ? 'Paciente' : persona.flag_es_doctor) }}</td>
                
                <td *ngIf="persona === personaEditar">
                    <input [(ngModel)]="personaEditar.nombre" (keyup.enter)="guardarEdicion()" (keyup.escape)="cancelarEdicion()" />
                </td>
                <td *ngIf="persona === personaEditar">
                    <input [(ngModel)]="personaEditar.apellido" (keyup.enter)="guardarEdicion()" (keyup.escape)="cancelarEdicion()" />
                </td>
                <td *ngIf="persona === personaEditar">
                    <input [(ngModel)]="personaEditar.email" (keyup.enter)="guardarEdicion()" (keyup.escape)="cancelarEdicion()" />
                </td>
                <td>
                    <button (click)="editarPersona(persona)">Editar</button>
                    <button (click)="eliminarPersona(persona.idPersona)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>


</div>
